.is-2-column,
.is-3-column {
  background-image: url("../img/cyber2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.999;
}
.widget,
.footer {
  background-color: rgba(255,255,255,0.7);
}
