.is-2-column,
.is-3-column {
  background-image: url("../img/bg_small.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.999;
}
.widget,
.footer {
  background-color: rgba(255,255,255,0.7);
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  body:before {
    right: 0;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 2147483647;
    position: fixed;
    content: "";
    display: block;
    -webkit-transform: translateY(-99.99px);
    background: linear-gradient(124deg, #f00, #ff7f00, #ff0, #7fff00, #0f0, #00ff7f, #0ff, #007fff, #00f, #7f00ff, #f0f, #ff007f, #f00);
    animation: rainbow 15s ease infinite;
    background-size: 1000% 1000%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 80%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0% 80%;
  }
}
@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 80%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0% 80%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 80%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0% 80%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 80%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0% 80%;
  }
}
